<h1>Welcome to the Finance Tracker</h1>

<p>Developed By: Jamin Ewell</p>


<style>
body {
    background-image: url("http://omninet.com/wp-content/themes/omninet/images/background_vc.jpg");
}
body
</style>